#main {
  font-family: ubuntu;
  background-color: rgb(108, 157, 197);
}

a:link {
  color:orange;
}

a:visited {
  color: crimson;
}

header {
  text-align:center;
  background-color:rgb(28, 53, 73);
  padding: 0.1vmin;
  color:beige;
  border-radius: 8px 8px 0px 0px;
}

#img-div {
  margin:auto;
  text-align:center;
  background-color: beige;
  padding: 10vmin;
  max-height: 45vw;
  width:auto;
  border-radius: 0px 0px 8px 8px;
}

#image {
  max-height: 35vw;
  width:auto;
  justify-content:center;
}

#img-caption {
  font-size: 14px;
  font-family:ubuntu;
  color: #600060;
}

#tribute-info {
  width: 60vw;
  height:fit-content;
  padding: 1vw;
  margin: auto;
  display:grid;
  justify-content:center;
  grid-template-columns:repeat(auto-fit, minmax(10vw,25vw));
  grid-template-rows:1fr;
  grid-gap:2vw;
}

.info-style {
  text-align:center;
  align-self:start;
  color:beige;
  background-color:rgb(28, 53, 73);
  border-radius: 8px 8px 8px 8px;
}

#tribute-link {
  margin:15px;
  text-align:center;
  color: #600060;
}
